* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

#ChatApp {
    border: 20px;
    background-color: rgb(238, 147, 29);
    display: flex;
    justify-content: space-evenly;
    border-radius: 40px;
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
}

.logoutbutton {
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

#container {
    margin: auto;
    height: 100vh;
    width: 100%;
    background-color: rgb(199, 199, 199);
    position: relative;
}
#box {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    height: 70vh;
    width: 70%;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    display: flex;
    flex-direction: column;
    background-color: salmon;
    padding: 20px;
    position: relative;
    word-wrap: break-word;
}
#box::-webkit-scrollbar {
    width: 5px;
  height: 8px;
  /* background-color: red;  */

}
#box::-webkit-scrollbar-thumb {
    background: rgb(11, 11, 11);
    border-radius: 5px;
  }

#othermsg {
    position: relative; 
    flex-direction: row;
    float: left;
    display: flex;
    margin-bottom: 13px;
    gap: 13px;

}

#userimg {
    border: 2px solid rgb(3, 3, 10);
    width: 35px;
    border-radius: 50%;
    height: 35px;

}

#usermsg {
    border-radius: 10px;
    /* display: flex; */
    padding: 5px;
    border: 2px solid rgb(87, 98, 36);
    color: rgb(12, 13, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #othermsg{
    display: flex;
    margin-bottom: 13px;
    gap: 13px;
} */

.mydiv {
    position: relative;
    /* width: 100%; */
    float: right;
}

.mymsg {
    display: flex;
    /* float: right; */
    justify-content: end;
}

#mytext {
    padding: 5px;
    width: max-content;
    display: flex;
    gap: 13px;
    color: rgb(23, 12, 23);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

#mytext div {
    border-radius: 15px;
    padding: 8px;
    border: 2px solid rgb(87, 98, 36);
    
}


#message {
    border: 1px solid red;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    height: auto;
    width: 500px;

}

#fname {
    width: 58%;
    height: 70px;
    border-radius: 30px;
    justify-content: space-between;
    display: flex;
    margin: 20px auto;
    align-items: center;


}

.inputtext {
    width: 87%;
    height: 60px;
    border: none;
    outline: none;
    /* margin-right: 40px; */
    border-bottom: 1px solid black;
    padding-left: 10px;
    background-color: rgb(111, 166, 182);
}

#btn {
    width: 7%;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
}

/* #form{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    height: auto;
    width: 100px;
} */